/* universal css */
body {
    text-align: center;
}


/* HEADER */

/* aligns buttons and forms */
#formsArea { 
    display: flex;
    justify-content: space-around;
}
/* creates columns for input feilds */
form { 
    display: flex;
    flex-direction: column;
}
/* each display:none hides the inputs by default */
#fourForm {
    display: none;
}
#eightForm {
    display: none;
}
#sixteenForm{
    display: none;
}
#thrityTwoForm {
    display: none;
}
/* creates space b/e toggle button and input field  */
button {
 margin: 5px auto;   
}
/* creates space b/e submit button and input field  */
.submitBracket {
    margin: 5px auto;   
}



