/* universal css */
body {
    text-align: center;
}
button:hover{
    /* background-color: yellow; */
}

/* HEADER */

/* aligns buttons and forms */
#formsArea { 
    display: flex;
    justify-content: space-around;
}
/* creates columns for input feilds */
form { 
    display: flex;
    flex-direction: column;
}
/* each display:none hides the inputs by default */
#fourForm {
    display: none;
}
#eightForm {
    display: none;
}
#sixteenForm{
    display: none;
}

/* hides brackets until teams are submitted */
#fourTeamBracketWrapper {
    display: none;
}
#eightTeamBracketWrapper {
    display: none;
}

/* creates space b/e toggle button and input field  */
button {
 margin: 5px auto;   
}
/* creates space b/e submit buttons and input fields  */
#submitFourBracket {
    margin: 5px auto;   
}
#submitEightBracket {
    margin: 5px auto;   
}
#submitSixteenBracket {
    margin: 5px auto;   
}


/* BRACKET STYLING AND SPACING */

/* four team bracket */
#fourTeamBracket {
    display: flex;
    justify-content: space-around;
}
#fourTeamBracketLeft {
    display: flex;
    flex-direction: column;
}
#fourTeamBracketRight {
    display: flex;
    flex-direction: column;
}
#fourTeamBracketChampionship {
    display: flex;
    align-items: center;
}
#fourTeamBracketChampionshipOne {
    margin: 7px;
}
#fourTeamBracketChampionshipTwo{
    margin: 7px;
}

/* eight team bracket */
#eightTeamBracket {
    display: flex;
    justify-content: space-evenly;
}
#eightTeamBracketLeft {
    display: flex;
    flex-direction: column;
}
#eightTeamBracketRight {
    display: flex;
    flex-direction: column;
}
#eightTeamBracketFinalFour{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:350px;
}
#eightTeamBracketFinalFourLeft {
    display: flex;
    flex-direction: column;
}
#eightTeamBracketFinalFourRight {
    display: flex;
    flex-direction: column;
}
#eightTeamBracketChampionshipOne {
    margin:7px;
}
#eightTeamBracketChampionshipTwo {
    margin:7px;
}

/* SIXTEEN TEAM BRACKET */
#sixteenTeamBracketWrapper {
    
}
#sixteenTeamBracket {
    display: flex;
    justify-content: space-evenly;
}
#sixteenTeamBracketLeft {
    display: flex;
    flex-direction: column;
}
#sixteenTeamBracketRight {
    display: flex;
    flex-direction: column;
}
#sixteenTeamBracketEliteEight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:600px;

}
#sixteenTeamBracketEliteEightLeft {
    display: flex;
    flex-direction: column;
}
#sixteenTeamBracketEliteEightRight{
    display: flex;
    flex-direction: column;
}
#sixteenTeamBracketFinalFour {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:310px;
}
#sixteenTeamBracketFinalFourLeft {
    display: flex;
    flex-direction: column;
}
#sixteenTeamBracketFinalFourRight{
    display: flex;
    flex-direction: column;
}
#sixteenTeamBracketChampionshipOne {
    margin:7px;
}
#sixteenTeamBracketChampionshipTwo {
    margin:7px;
}

